{% extends "WANGARDENFactureBundle::layout.html.twig" %}

{% block title %}
  Accueil -
  {{ parent() }}
{% endblock %}

{% block plateforme_body %}
  <h1>
    contenu page accueil à définir</h1>








{% endblock %}
